*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #1c2042;
  --white-clr: #dddddd;
  --black-clr: #333333;
  --blue-clr: #3c40c6;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--white-clr);
}

img {
  width: 100%;
  height: auto;
}

ul {
  text-align: center;
}

.title {
  text-align: center;
  margin: 1rem center;
  padding-bottom: 0.25rem;
  border-bottom: 5px solid var(--blue-clr);
  color: var(--blue-clr);
}

.store {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem auto;
}

.product {
  width: 350px;
  height: 350px;
}

.product-image {
  height: 250px;
}